<!doctype html>

<html>
<head>
	<title>My HCI Friends</title>	
</head>

<body>
	<div class="container">
		
	<h1>My HCI Friends</h1>

<p>You added a new friend! <a href="/">Now go home.</a></p>
	</div>
</body>
</html>
